{% extends "../static/index_tpt.html" %}
    {% block container %}
            <div class="portrait">
                <img src="images/maq.png">
                <h1>Product Designer / Code Developer</h1>
            </div>
            <div class="portrait">
<p>I design and develop applications that enable people to communicate, transact and learn. As a John S. Knight Fellow at Stanford (2014), I researched and prototyped systems to discover and personalize news content. I have built products for news, cyber security, crowdsourcing, search and mobile payment applications.</p>
<p>My design practice is based on understanding and responding to a user’s experience. This is an iterative dialogue that translates the users’ needs into a more engaging and effective usage experience. As a developer, my approach is 100% lean startup, based on rapid development cycles and continuous feedback.</p>
            </div>
    {% end %}
